* {box-sizing: border-box}


@import 'https://fonts.googleapis.com/css?family=Rozha+One';


body{ 
   font-family: 'Raleway', sans-serif;
}

.container{
    width: 80%;
    /* max-width: 1080px;
    min-width: 480px;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    background-color: rgb(255, 255, 255);
    padding-left: 1rem;
    padding-right: 1rem; */
    margin-left:auto;
    margin-right: auto;
    box-shadow: 0px 2px 28px 1px rgba(0, 124, 128, 0.75);
}


/* AQUI EMPIEZA EL HEADER */
header h1 {
    text-align: left;
    font-family: 'Rozha+One';
    color:rgb(255, 255, 255);
    display: block;
    margin-top: 1rem;
    margin-bottom: auto
  
}
    

header h2 {
    text-align: left;
    font-family: 'Raleway';
    display: block;
    margin-top: auto;
    font-size: 1.3rem;
 
}

.caja {
    background-color: rgb(0, 124, 128);
    padding-top: .2rem;
    padding-bottom: .2rem;
}
/* AQUI ACABA EL HEADER */



/* FIGURE IZQUIERDA */
 
img {
    float: left;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

figure {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    /* padding-right: 2rem; */
    /* width: 50%; */
    clear: bottom;


}

img {
 width: 650px;
 height: 100%;
}

/* FIGURE IZQUIERDA */

/* FIGURE DERECHA */

 img{
    float: right;
    /* padding-right: 2rem;
    padding-left: 2rem;  */
     
}
 
.cajaD {
    float: right;
    display: block;
    /* padding-left: 2rem; */
    width: 40%
}

.cajaD img {
 width: 500px;
 height: 80%;
 /* padding-left: 3rem; */
}

/* FIGURE DERECHA */



/* EMPIEZA VIDEO DERECHA */

video {
    position: relative;
    display: block;
    float: right;
    width: auto;
    max-height: 450px;
    padding-left: 2rem;
    padding-bottom: 3rem;
    clear: bottom;
}

/* ACABA VIDEO DERECHA */




/* EMPIEZAN LOS ESTILOS GENERALES */

/*EMPIEZA CAJA BLANCA */

.cajab {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 2rem; 
    font-weight: bold;
    color: rgb(0, 124, 128);
    padding-left: 2rem;
}

p {
    font-size: 0.95rem;
    color: rgb(42, 43, 43);
    /* margin-left: 2rem; */
    width: 100%;
    padding-left: 2rem; 
    padding-right: 1rem;
}

.h2b {
    color: rgb(0, 124, 128);
    font-weight: bold;
    margin-left: 2rem;
    padding-top: 1rem;
}
/*ACABA CAJA BLANCA */


/* EMPIEZA CAJA AZUL */

.caja1 {
    background-color: rgb(0, 124, 128);
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.hB {
    font-size: 2rem; 
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 2rem;
}

.pex {
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 2rem;
    padding-top: 1rem;

}

.pb {
    color: rgb(255, 255, 255);
    font-size: 0.95rem;
    width: 100%;
    margin-right: 1rem;
    padding-right: 2rem;
    
}
/* ACABA CAJA AZUL */

/* EMPIEZA FOOTER */

a {
    float: left;
    margin-left: 2rem;
    vertical-align: auto;
    color: white;
}

span {
    color: rgb(255, 255, 255);
    float: right;
    vertical-align: auto;
}

/* ACABA FOOTER */


/* LISTAS */

ul li { 
    color: white;
    list-style-type: circle;
    margin-left: 2rem;
    /* margin-left: 1rem; */
}


/* TABLA */


table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 30%;
    margin-bottom: 3rem;
    display:block;
    
}
    


.tr1 {
    background:rgb(0, 124, 128);
    text-align: center;
    height: 40px;
    color: white;
    border: .1rem solid;
}


.tr2 {
    background: rgb(204, 204, 204);
    text-align: middle;
    border: .1rem solid;
    height: 30px;
}

td {
    border: .1rem solid;
    padding-left: 1rem;
}

th {
    border: .1rem solid;
    height: 25px;
}

/* ACABA TABLA */


/* PIES DE FOTO */

 figcaption {
    /* display: block; */
    /* width: 100%; */
    /* line-height: normal; */
    font-size:0.95rem;
     /* background:rgba(0, 0, 0, 0.75); */
    color:rgb(255, 255, 255);
    font-style:italic;
    /* padding: 0.7rem; */
    text-align: center; 
}






/* header p {
    color: brown;
    font-size: 1.5rem;
    font-weight: bold;
}

footer p {
    color: blueviolet

}

header p {
        color: maroon;
        font-size: 1.5rem;
        font-weight: bold;
    }  */


    



